@using EcommerceOsorioManha.Models
@model List<Produto>

@{
    DateTime data = ViewBag.Data;
}

<div>
    <h1>Gerenciamento de Produtos</h1>

    @*<a href="~/Views/Produto/Cadastra"> Cadastrar Produto </a>*@

    @* Link em MVC Razor *@

    <br>

    @Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produto", null, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Cadastrar Categoria", "CadastrarCategoria", "Categoria", null, new { @class = "btn btn-primary btn-sm" })


    <table class="table table-hover table-striped"
           style="margin-top:30px">
        <tr class="table-info">

            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Imagens</th>
            <th></th>
            <th></th>
        </tr>


        @foreach (Produto produtorodutoCadastrado in Model)
        {
        <tr class="table-light">
            <td><b> @produtorodutoCadastrado.Nome</b></td>
            <td><b> @produtorodutoCadastrado.Descricao</b></td>
            <td><b> @produtorodutoCadastrado.Preco.ToString("C2")</b></td>
            <td><b> @produtorodutoCadastrado.Categoria.Nome</b></td>
            <td> <img src="~/Imagens/@produtorodutoCadastrado.Imagem" alt="Imagem do produto" style="width:100px" , height:100px"   </td>
            <td><b> @Html.ActionLink("Remover", "RemoverProduto", "Produto", new { id = produtorodutoCadastrado.ProdutoId }, null)  </b>  </td>
            <td><b> @Html.ActionLink("Alterar", "AlterarProduto", "Produto", new { id = produtorodutoCadastrado.ProdutoId }, null)  </b> </td>
        </tr>


        }
    </table>
    <p>Dados atualizados às: <b>@data</b></p>
</div>