@using EcommerceOsorioManha.Models
@model List<Categoria>

@{
    DateTime data = ViewBag.Data;
}

<div>
    <h1>Gerenciamento de Categoria</h1>

    @*<a href="~/Views/Produto/Cadastra"> Cadastrar Produto </a>*@

    @* Link em MVC Razor *@

    <br>

    @Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produto", null, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Cadastrar Categoria", "CadastrarCategoria", "Categoria", null, new { @class = "btn btn-primary btn-sm" })




    <table class="table table-hover table-striped"
           style="margin-top:30px">
        <tr class="table-info">

            <th>Nome</th>
            <th>Descrição</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (Categoria categoriacadastrada in Model)
        {
        <tr class="table-light">
            <td><b> @categoriacadastrada.Nome </b> </td>
            <td><b> @categoriacadastrada.Descricao</b></td>
            <td><b> @Html.ActionLink("Remover", "RemoverCategoria", "Categoria", new { id = categoriacadastrada.CategoriaID }, null)  </b> </td>
            <td><b> @Html.ActionLink("Alterar", "AlterarCategoria", "Categoria", new { id = categoriacadastrada.CategoriaID }, null)  </b> </td>
        </tr>
        }
    </table>
    <p>Dados atualizados às: <b>@data</b></p>
</div>

