@model IEnumerable<EcommerceOsorioManha.Models.ItemVenda>

@{
    ViewBag.Title = "CarrinhoCompras";
}

<h2>CarrinhoCompras</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Imagem)
        </th>
        <th>
            Quantidade
        </th>
        <th>
            Detalhamento
        </th>
        <th>
            SubTotal
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Imagens/@item.Produto.Imagem" alt="Imagem" style="width:300px" />
        </td>
        <td>
            <b> @Html.ActionLink("-", "DiminuirItem", "Home", new { Id = item.ItemVendaId }, new { @class = "btn btn-warning" })  </b>

            @item.Quantidade

            <b> @Html.ActionLink("+", "DiminuirItem", "Home", new { Id = item.ItemVendaId }, new { @class = "btn btn-success" })  </b>
        </td>
        <td>
            Nome <b>@item.Produto.Nome</b><br>
            Descrição <b>@item.Produto.Descricao</b> <br>
            Valor <b> R$@item.Produto.Preco.ToString("C2")</b> <br>
            Categoria <b>@item.Produto.Categoria.Nome </b><br><br>
        @{
            double subTotal = (item.Quantidade * item.Preco);
        }
        <td>
            @subTotal.ToString("C2")
        </td>
        <td>
            <b> @Html.ActionLink("Remover", "RemoverItem", "Home", new { Id = item.ItemVendaId }, new { @class = "btn btn-warning" })  </b>
        </td>
    </tr>
}

</table>
