@using EcommerceOsorioManha.Models
@model List<Produto>
@{
    Produto produto = ViewBag.ProdutoDetalhe;
    List<Categoria> categoriaMenu = ViewBag.CategoriaMenu;
}
<div>
    <h1>Gerenciamento</h1>

    <br>
    @Html.ActionLink("Gerenciar Produto", "IndexProduto", "Produto", null, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Gerenciar Categoria", "IndexCategoria", "Categoria", null, new { @class = "btn btn-primary btn-sm" })
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">

            @if (categoriaMenu != null)
            {
                foreach (Categoria item in categoriaMenu)
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            @Html.ActionLink(@item.Nome, "Index", "Home", new { @class = "btn btn-secondary my-2 my-sm-0", id = 0, cat = @item.Nome }, null)
                        </li>
                    </ul>
                }
            }
        </nav>
    </div>

    @if (produto != null && produto.ProdutoId > 0)
    {
        <table class="table table-hover table-striped"
               style="margin-top:30px">
            <tr class="table-info">
                <th> Detalhamento Do Produto </th>
                <th> @produto.Nome</th>
            </tr>

            <tr class="table-light">
                <td> <img id="ImagemDeDetalhe" src="~/Imagens/@produto.Imagem" alt="Imagem do produto" style="width:300px" , height:300px" onmousemove="AumentarImagemDetalhe()" onmouseout="DiminuirImagemDetalhe()" />   </td>
                <td>
                    Nome do produto <b>@produto.Nome</b><br>
                    Descrição <b>@produto.Descricao</b> <br>
                    Valor de<b> R$@produto.Preco</b> <br>
                    Sua categoria é <b>@produto.Categoria.Nome </b><br><br>
                    @Html.ActionLink("Adicionar", "AdicionarAoCarrinho", "Home", new { id = produto.ProdutoId }, new { @class = "btn btn-success" })
                </td>
            </tr>
            
        </table>

    }
    else
    {
        <table border="1">
            <tr>
                @foreach (Produto produtorodutoCadastrado in Model)
                {
                    <td>
                        <div class="card text-white bg-primary mb-2" style="max-width: 10rem;">
                            <div>
                                <nav class="navbar navbar-expand-lg navbar-dark bg-light">
                                    @Html.ActionLink("Detalhes", "Index", "Home", new { id = produtorodutoCadastrado.ProdutoId }, new { @class = "btn btn-info" })
                                </nav>
                            </div>
                            <div class="card-body">
                                <img id="ImagemDoMenu" src="~/Imagens/@produtorodutoCadastrado.Imagem" alt="Imagem do produto" style="width:100px" , height:100px" onclick="ClickNaImagem()" />
                            </div>
                        </div>
                        <div>
                            <nav class="navbar navbar-expand-lg navbar-dark bg-light" style="margin-top:10px">
                                @Html.ActionLink("Adicionar", "AdicionarAoCarrinho", "Home", new { id = produtorodutoCadastrado.ProdutoId }, new { @class = "btn btn-success"})
                            </nav>
                        </div>
                    </td>
                }
            </tr>
        </table>
    }

