@using EcommerceOsorioManha.Models
@model List<Produto>
@{
    Produto produto = ViewBag.ProdutoDetalhe;
}
<div>
    <h1>Gerenciamento</h1>

    <br>
    @Html.ActionLink("Gerenciar Produto", "IndexProduto", "Produto", null, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Gerenciar Categoria", "IndexCategoria", "Categoria", null, new { @class = "btn btn-primary btn-sm" })
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Alimento", "Index", "Home", new { @class = "btn btn-secondary my-2 my-sm-0", id = 0, cat = "Alimento" }, null)
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Casa", "Index", "Home", new { @class = "btn btn-secondary my-2 my-sm-0", id = 0, cat = "Casa" }, null)
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Automoveis", "Index", "Home", new { @class = "btn btn-secondary my-2 my-sm-0", id = 0, cat = "Automoveis" }, null)
                </li>
            </ul>
        </nav>
    </div>
    @*<div class="navbar">
        </div>*@

    @if (produto != null && produto.ProdutoId > 0)
    {
        <table class="table table-hover table-striped"
               style="margin-top:30px">
            <tr>

                <th>Imagens</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <td> <img src="~/Imagens/@produto.Imagem" alt="Imagem do produto" style="width:100px" , height:100px"   </td>
                <td>@produto.Nome</td>
                <td> @produto.Descricao</td>
                <td> @produto.Preco</td>
                <td> @produto.Categoria.Nome</td>
            </tr>
        </table>

    }
    else
    {
        <table border="1">
            <tr>
                @foreach (Produto produtorodutoCadastrado in Model)
                {
                <td>
                    <div class="card text-white bg-primary mb-2" style="max-width: 10rem;">
                        <div>
                            <nav class="navbar navbar-expand-lg navbar-dark bg-light">
                                @Html.ActionLink("Detalhes", "Index", "Home", new { id = produtorodutoCadastrado.ProdutoId }, null)
                            </nav>
                        </div>
                        <div class="card-body">
                            <img src="~/Imagens/@produtorodutoCadastrado.Imagem" alt="Imagem do produto" style="width:100px" , height:100px"
                        </div>
                    </div>
                </td>
                }
            </tr>
        </table>


    }

